<h1>Query sandbox</h1>

<hr />

<h3>Query directive</h3>

<ng-container *query="getPosts as p; loading as l; error as e; raw as r">
  <p>Loading</p>
  <pre>{{ l | json }}</pre>

  <p>Error</p>
  <pre>{{ e | json }}</pre>

  <p>Response</p>
  <pre>{{ p | json }}</pre>

  <p>Response Raw</p>
  <pre>{{ r | json }}</pre>
</ng-container>

<hr />

<h3>Query directive (with cache)</h3>

<ng-container
  *query="getPosts as p; loading as l; error as e; raw as r; cache: true"
>
  <p>Loading</p>
  <pre>{{ l | json }}</pre>

  <p>Error</p>
  <pre>{{ e | json }}</pre>

  <p>Response</p>
  <pre>{{ p | json }}</pre>

  <p>Response Raw</p>
  <pre>{{ r | json }}</pre>
</ng-container>

<hr />

<h3>Query directive (async source)</h3>

<ng-container
  *query="getPosts$ | async as p; loading as l; error as e; raw as r"
>
  <p>Loading</p>
  <pre>{{ l | json }}</pre>

  <p>Error</p>
  <pre>{{ e | json }}</pre>

  <p>Response</p>
  <pre>{{ p | json }}</pre>

  <p>Response Raw</p>
  <pre>{{ r | json }}</pre>
</ng-container>

<hr />
