<h1>Query sandbox</h1>

<hr />

<h3>Query directive</h3>

<ng-container *query="getPosts as p; loading as l; error as e; raw as r">
  <p>Loading</p>
  <pre>{{ l | json }}</pre>

  <p>Error</p>
  <pre>{{ e | json }}</pre>

  <p>Response</p>
  <pre>{{ p | json }}</pre>

  <p>Response Raw</p>
  <pre>{{ r | json }}</pre>
</ng-container>

<hr />

<h3>Query directive (with cache)</h3>

<ng-container
  *query="getPosts as p; loading as l; error as e; raw as r; cache: true"
>
  <p>Loading</p>
  <pre>{{ l | json }}</pre>

  <p>Error</p>
  <pre>{{ e | json }}</pre>

  <p>Response</p>
  <pre>{{ p | json }}</pre>

  <p>Response Raw</p>
  <pre>{{ r | json }}</pre>
</ng-container>

<hr />

<h3>Query directive (async source)</h3>

<ng-container
  *query="getPosts$ | async as p; loading as l; error as e; raw as r"
>
  <p>Loading</p>
  <pre>{{ l | json }}</pre>

  <p>Error</p>
  <pre>{{ e | json }}</pre>

  <p>Response</p>
  <pre>{{ p | json }}</pre>

  <p>Response Raw</p>
  <pre>{{ r | json }}</pre>
</ng-container>

<hr />

<h3>Infinity query directive</h3>

<ng-container
  *infinityQuery="
    infinityQueryConfig as data;
    loading as l;
    error as e;
    isFirstLoad as fl;
    canLoadMore as clm;
    currentPage as cp;
    currentCalculatedPage as ccp;
    totalPages as tp;
    itemsPerPage as ipp
  "
>
  <p>Loading</p>
  <pre>{{ l | json }}</pre>

  <p>Error</p>
  <pre>{{ e | json }}</pre>

  <p>Is first load</p>
  <pre>{{ fl | json }}</pre>

  <p>Can load more</p>
  <pre>{{ clm | json }}</pre>

  <p>Current page</p>
  <pre>{{ cp | json }}</pre>

  <p>Current calculated page</p>
  <pre>{{ ccp | json }}</pre>

  <p>Total pages</p>
  <pre>{{ tp | json }}</pre>

  <p>Items per page</p>
  <pre>{{ ipp | json }}</pre>

  <p>Response</p>
  <pre>{{ data | json }}</pre>

  <button *ngIf="!fl && clm" infinityQueryTrigger>Load more</button>
  <!-- Manuel mode -->
  <!-- <infinity-query-trigger></infinity-query-trigger> -->
  <!-- Auto mode -->
</ng-container>

<hr />
